@tailwind base;
@tailwind components;
@tailwind utilities;

h1 { 
    font-family: 'Maven Pro', sans-serif;
}

h2 { 
    font-family: 'Maven Pro', sans-serif;
}

h3 { 
    font-family: 'Maven Pro', sans-serif;
}